@charset "utf-8";

body {
    color: #222222;
    font-family: serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.header-pad {
    padding-bottom: 40px;
}
.card {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.card-image {
    width: 100%;
    height: 400px;
    background-image: url(./html_name_00/jsimg/head.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-title {
    font-size: 50px;
    font-weight: bold;
    color: #222222;
}
.btn {
    display: block;
    width: 300px;
    margin: auto;
    padding: 21px 0;
    background-color: #222222;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    color: #fff;
    background-color: blue;
    text-decoration: none;
}
.footer-pad {
    padding-top: 40px;
}
.footer {
    padding: 30px 0;
    background-color: #222222;
}
.footer-pra {
    color: #fff;
}